@use "../../style/variables" as *;

.#{$prefix}-divider {
  font-size: var(--ty-divider-font-size);
  line-height: var(--ty-divider-line-height);
  box-sizing: border-box;
  padding: 0;
  border: 0;
  list-style: none;

  --ty-divider-border-style: solid;

  &_vertical {
    margin: var(--ty-divider-vertical-margin);
    display: inline-block;
    height: var(--ty-divider-vertical-height);
    width: 0;
    vertical-align: middle;
    border-left: 1px var(--ty-divider-border-style) var(--ty-divider-color);
  }

  &_horizontal {
    display: block;
    height: 0;
    width: 100%;
    margin: var(--ty-divider-horizontal-margin);
    border-top: 1px var(--ty-divider-border-style) var(--ty-divider-color);
  }

  &_text {
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    border-top: 0;
    background: transparent;
    font-weight: 500;
    color: var(--ty-divider-text-color);

    &::before,
    &::after {
      content: '';
      flex: 1 1 auto;
      height: 0;
      border-top: 1px var(--ty-divider-border-style) var(--ty-divider-color);
    }
  }

  &_start::before,
  &_end::after {
    flex: 0 0 5%;
  }

  &_start::after,
  &_end::before {
    flex: 1 1 auto;
  }

  &_inner-text {
    display: inline-flex;
    align-items: center;
    padding: 0 var(--ty-divider-title-gap, 10px);
    line-height: 1;
  }

  &_plain {
    font-weight: 400;
  }

  &_dashed {
    --ty-divider-border-style: dashed;
  }

  &_dotted {
    --ty-divider-border-style: dotted;
  }
}
