@use "../../style/variables" as *;

@mixin badge-base {
  box-sizing: border-box;
  display: inline-block;
  z-index: var(--ty-badge-z-index);
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  border-radius: var(--ty-badge-size);
  box-shadow: var(--ty-badge-shadow);
}
