@use "../../style/variables" as *;

.#{$prefix}-dropdown {

  .#{$prefix}-menu, .#{$prefix}-menu-sub__list {
    padding: var(--ty-dropdown-menu-padding);

    .#{$prefix}-menu-item_active {
      background-color: transparent;
      color: var(--ty-dropdown-item-color);
    }

    .#{$prefix}-menu-item {
      padding: var(--ty-dropdown-item-padding);
      margin: 0;

      &:hover:not(.#{$prefix}-menu-item_disabled) {
        background-color: var(--ty-dropdown-item-hover-bg);
        color: var(--ty-dropdown-item-color);
      }
    }
  }

  .#{$prefix}-menu:before{
    content: none;
  }

  .#{$prefix}-menu-item-group {
    &__title {
      padding: var(--ty-dropdown-group-title-padding);

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
