@use "../../style/variables" as *;

/* stylelint-disable custom-property-pattern */

.#{$prefix}-menu-divider {
  height: 1px;
  background-color: var(--_menu-divider-color);
  margin: var(--_menu-divider-margin);
}
