@use '../../variables' as *;

.doc-toc {
  position: fixed;
  top: 100px;
  right: 20px;
  width: 180px;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  font-size: 13px;

  @media (max-width: $size-xl) {
    display: none;
  }
}
