@use '@tiny-design/tokens/scss/variables' as *;

.#{$prefix}-segmented {
  display: inline-flex;
  align-items: center;
  padding: 2px;
  background: var(--ty-segmented-bg, #{$gray-200});
  border-radius: var(--ty-border-radius);
  box-sizing: border-box;

  &_block {
    display: flex;
    width: 100%;

    .#{$prefix}-segmented__item {
      flex: 1;
      justify-content: center;
    }
  }

  &_disabled {
    opacity: 0.5;
    cursor: not-allowed;

    .#{$prefix}-segmented__item {
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  &_sm .#{$prefix}-segmented__item {
    padding: 0 8px;
    height: calc(var(--ty-height-sm) - 4px);
    font-size: var(--ty-font-size-sm);
  }

  &_md .#{$prefix}-segmented__item {
    padding: 0 12px;
    height: calc(var(--ty-height-md) - 4px);
    font-size: var(--ty-font-size-base);
  }

  &_lg .#{$prefix}-segmented__item {
    padding: 0 16px;
    height: calc(var(--ty-height-lg) - 4px);
    font-size: var(--ty-font-size-lg);
  }

  &__item {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    border-radius: var(--ty-border-radius);
    transition: all 0.2s;
    user-select: none;
    white-space: nowrap;

    &:hover:not(&_active, &_disabled) {
      color: var(--ty-color-text, #{$gray-900});
    }

    &_active {
      background: var(--ty-segmented-active-bg, #fff);
      color: var(--ty-color-text, #{$gray-900});
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 6%), 0 1px 3px 0 rgb(0 0 0 / 10%);
      font-weight: 500;
    }

    &_disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
  }

  &__icon {
    display: inline-flex;
    align-items: center;
  }

  &__label {
    display: inline-block;
  }
}
