@use "../../style/variables" as *;

.#{$prefix}-split-button {
  display: inline-flex;
  white-space: nowrap;
  vertical-align: middle;

  .#{$prefix}-btn {
    float: none;
  }

  &__dropdown-btn {
    padding: 0 8px;
    min-width: auto;
  }
}
