@use '@tiny-design/tokens/scss/variables' as *;

.#{$prefix}-pop-confirm {
  color: var(--ty-pop-confirm-color);

  &__overlay {
    padding: var(--ty-pop-confirm-overlay-padding);
  }

  &__messages {
    padding: 0 0 var(--ty-pop-confirm-messages-padding-bottom);
    font-size: var(--ty-pop-confirm-messages-font-size);
    display: flex;
    align-items: center;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--ty-pop-confirm-buttons-gap);
    text-align: right;
  }

  &__title {
    margin-left: var(--ty-pop-confirm-title-margin-left);
  }

}
