@use '@tiny-design/tokens/scss/variables' as *;
@use './mixin' as *;

.#{$prefix}-input {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  color: var(--ty-input-color, var(--ty-color-text));

  &__input {
    @include input-default;
  }

  &__prefix,
  &__suffix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    margin: var(--ty-input-affix-margin);
  }

  &__prefix {
    left: 0;
  }

  &__suffix {
    right: 0;
  }

  &__clear-btn {
    display: inline-block;
    color: var(--ty-color-text-quaternary);
    width: var(--ty-input-clear-size);
    height: var(--ty-input-clear-size);
    position: relative;
    top: 2px;
    cursor: pointer;
  }

  &_sm {
    .#{$prefix}-input {
      &__input {
        font-size: var(--ty-input-font-size-sm, var(--ty-font-size-sm));
        height: var(--ty-input-height-sm, var(--ty-height-sm));
        line-height: var(--ty-input-height-sm, var(--ty-height-sm));
      }

      &__clear-btn {
        transform: scale(0.7);
      }
    }
  }

  &_md {
    .#{$prefix}-input {
      &__input {
        font-size: var(--ty-input-font-size, var(--ty-font-size-base));
        height: var(--ty-input-height-md, var(--ty-height-md));
        line-height: var(--ty-input-height-md, var(--ty-height-md));
      }

      &__clear-btn {
        transform: scale(0.8);
      }
    }
  }

  &_lg {
    .#{$prefix}-input {
      &__input {
        font-size: var(--ty-input-font-size-lg, var(--ty-font-size-lg));
        height: var(--ty-input-height-lg, var(--ty-height-lg));
        line-height: var(--ty-input-height-lg, var(--ty-height-lg));
      }
    }
  }

  &_disabled {
    .#{$prefix}-input__input {
      @include input-default-disabled;
    }
  }
}

.#{$prefix}-input-group {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  position: relative;

  & > .#{$prefix}-input-group-addon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_sm {
    height: var(--ty-input-height-sm, var(--ty-height-sm));
  }

  &_md {
    height: var(--ty-input-height-md, var(--ty-height-md));
  }

  &_lg {
    height: var(--ty-input-height-lg, var(--ty-height-lg));
  }

  .#{$prefix}-input {
    z-index: 1;
    flex: 1;

    &:first-child {
      .#{$prefix}-input__input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:last-child {
      .#{$prefix}-input__input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &:not(:first-child, :last-child) {
      .#{$prefix}-input__input {
        border-radius: 0;
      }
    }
  }
}

.#{$prefix}-input-group-addon {
  background-color: var(--ty-input-addon-bg);
  border: 1px solid var(--ty-input-border);
  box-sizing: border-box;
  text-align: center;
  line-height: 1;
  border-radius: var(--ty-input-border-radius, var(--ty-border-radius));
  color: var(--ty-input-color, var(--ty-color-text));
  padding: var(--ty-input-addon-padding);

  &_sm {
    font-size: var(--ty-input-font-size-sm, var(--ty-font-size-sm));
  }

  &_md {
    font-size: var(--ty-input-font-size, var(--ty-font-size-base));
  }

  &_lg {
    font-size: var(--ty-input-font-size-lg, var(--ty-font-size-lg));
  }

  &:first-child {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &:last-child {
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  &:not(:first-child, :last-child) {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    padding: var(--ty-input-addon-padding);
  }

  &_no-border {
    border: none;
    padding: 0;
  }
}
