@use '@tiny-design/tokens/scss/variables' as *;

.#{$prefix}-notification {
  position: relative;
  padding: var(--ty-notification-padding);
  border-radius: var(--ty-notification-border-radius);
  color: var(--ty-color-text-secondary);
  font-size: var(--ty-font-size-base);
  box-shadow: var(--ty-shadow-modal);
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;

  &-container {
    width: $notification-width;
    position: fixed;
    background-color: var(--ty-notification-bg);
    z-index: 999;
    box-sizing: border-box;
    transition: all 200ms;

    &_top-right,
    &_bottom-right {
      right: calc(-1 * (var(--ty-notification-width) + var(--ty-notification-margin)));
      margin-right: var(--ty-notification-margin);
    }

    &_top-left,
    &_bottom-left {
      left: calc(-1 * (var(--ty-notification-width) + var(--ty-notification-margin)));
      margin-left: var(--ty-notification-margin);
    }
  }

  &__close {
    position: absolute;
    right: 24px;
    top: 16px;
    cursor: pointer;
    color: var(--ty-notification-close-color);
    user-select: none;
    transition: all 300ms;
    background: none;
    border: none;
    padding: 0;
    font-size: inherit;
    line-height: inherit;

    &:hover {
      color: var(--ty-notification-close-hover);
    }
  }

  &__title {
    padding-right: 24px;
    margin-bottom: 5px;
    color: var(--ty-color-text);
    font-size: var(--ty-notification-title-font-size);
    line-height: 24px;
  }

  &__icon {
    margin-right: 15px;
    height: 30px;
  }
}
