@use '@tiny-design/tokens/scss/variables' as *;

.#{$prefix}-radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: var(--ty-font-size-base);
  margin-right: 8px;
  color: var(--ty-radio-label-color, var(--ty-color-text));

  &__native {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    margin: 0;
    padding: 0;
  }

  &__inner {
    box-sizing: border-box;
    display: flex;
    width: var(--ty-radio-size, 16px);
    height: var(--ty-radio-size, 16px);
    border-radius: 100%;
    background-color: var(--ty-radio-bg, var(--ty-color-bg-container));
    border: 1px solid var(--ty-radio-border, var(--ty-color-primary));
    align-items: center;
    justify-content: center;

    &::after {
      box-sizing: border-box;
      display: inline-block;
      content: '';
      width: var(--ty-radio-dot-size, 10px);
      height: var(--ty-radio-dot-size, 10px);
      border-radius: 100%;
      background-color: var(--ty-radio-dot-bg, var(--ty-color-primary));
      transition: all 200ms;
      transform: scale(0);
    }

    & + span {
      padding: 0 var(--ty-radio-label-gap, 5px);
      line-height: var(--ty-radio-size, 16px);
    }
  }

  &_checked {
    .#{$prefix}-radio__inner {
      border-color: var(--ty-radio-border-checked, var(--ty-color-primary));

      &::after {
        transform: scale(1);
      }
    }
  }

  &_disabled {
    .#{$prefix}-radio__native {
      cursor: not-allowed;
    }

    .#{$prefix}-radio__inner {
      border-color: var(--ty-radio-border-disabled, var(--ty-color-border));

      &::after {
        background-color: var(--ty-radio-dot-bg-disabled, rgb(0 0 0 / 20%));
      }

      & + span {
        color: var(--ty-radio-label-color-disabled, var(--ty-color-text-quaternary));
      }
    }
  }

  &-group {
    display: inline-block;
  }
}
