@mixin button-style(
  $color,
  $background,
  $border,
  $hover-background: null,
  $hover-border: null,
  $hover-color: $color,
  $active-background: null,
  $active-border: null,
  $active-color: $color,
) {
  color: $color;
  background: $background;
  border-color: $border;

  &:hover {
    color: $hover-color;

    @if $hover-background { background: $hover-background; }

    @if $hover-border { border-color: $hover-border; }
  }

  &:focus {
    color: $hover-color;

    @if $hover-background { background: $hover-background; }

    @if $hover-border { border-color: $hover-border; }

    z-index: 1;
  }

  &:active {
    color: $active-color;

    @if $active-background { background: $active-background; }

    @if $active-border { border-color: $active-border; }
  }

  &:disabled {
    color: var(--ty-button-text-disabled, var(--ty-color-text-quaternary));
    background-color: var(--ty-button-bg-disabled, var(--ty-color-bg-disabled));
    border-color: var(--ty-button-border-disabled, var(--ty-color-border));
  }
}

@mixin btn-size($padding-inline, $font-size, $height, $gap, $icon-size) {
  --ty-button-height-current: #{$height};
  --ty-button-gap-current: #{$gap};
  --ty-button-icon-size-current: #{$icon-size};

  height: $height;
  padding: 0 $padding-inline;
  font-size: $font-size;
  gap: $gap;
}
